.header-container {
  background-color: #7952b3;
  position: relative;
}
.nav-item {

}
.nav-link {
  color: white!important;
  font-size: 2rem;
  &:hover {
    color: #f5b7b7!important;
  }
}
.nav-logo {
  height: 100%;
  transition: 2s;
  &:hover {
    transform: rotate(360deg);
    transition: 10s;
  }
}
.logo-container {
  padding: 7px 0;
  height: 100%!important;
}
.header-user-info {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translate(0,-50%);
  color: white;
  font-weight: bold;
}
@media (max-width: 800px) {
  .header-user-info {
    display: none;
  }
}