.card-container {
    padding: 0 10%;
    margin: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    row-gap: 20px;
    column-gap: 20px;
}
 .card-table {
     margin-top: auto;
 }


@media (max-width: 800px) {
    .card-container {
        grid-template-columns: 1fr;

    }
}