.card-container {
    padding: 0 10%;
    margin: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr;
    row-gap: 20px;
    column-gap: 20px;
}
